body {
    margin: 0;
background-color: lightcyan;
}

#top {
    background: linear-gradient(217deg, rgb(118, 168, 168), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, darkcyan, rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, lightcyan, rgba(0,0,255,0) 70.71%);
    padding-top: 70px;
    margin: 0;
}

#navTitle, #personalityTitle, #searchFieldTitle {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;

}
#searchFieldTitle, #searchFieldSkillsTitle {
    color: darkcyan;
}

#admission {
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-bottom: 200px;
    display: flex;
}

#admissionTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    color: darkcyan;
}

#questionForm {
    margin-left:100px;
    flex:1;
    
}
#questionForm label {
    font-size: 20px;
    color: darkcyan;
    text-align: left;
    width: 50%;
    padding-right: 30px;
    
}

#questionForm input {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
   display:block;
}


#submitButtonForm {
    width:30px;
    height: 30px;
}

#submitBox {
    height: 250px;
    text-align: center;
    flex:1;
    padding-top: 150px;
}
#submitBoxLine {
    font-family: 'Roboto', sans-serif;
    color: rgba(210, 204, 204, 0.475);
    text-align: center;
}
#butterfly {
    width: 100px;
    height: 100px;
   float:right;
   padding-right: 150px;
}
#personalityTypeBox {
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: darkcyan;
    height: 700px;
    text-align: center;
}

#form label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 50%;
    padding-right: 30px;
}

#form #search  {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;

}

#resultsPersonality{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#searchField {
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 350px;
    text-align: center;
}

#findUserForm label, #skillsForm label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: darkcyan;
    width: 50%;
    padding-right: 30px;
}

#searchUsers, #skillSearch {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}

#searchFieldUnderTitle, #searchFieldSkillsTitle{
    font-family: 'Roboto', sans-serif;
    color: darkcyan;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#result{
    display:flex;
    font-family: "Roboto", sans-serif;
    color: darkcyan;
}

footer {
    background: linear-gradient(217deg, rgb(118, 168, 168), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, darkcyan, rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, lightcyan, rgba(0,0,255,0) 70.71%);
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footerTitle {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    text-align: right;
    padding-top: 50px;
    padding-right: 10px;
}
/* Credit to:
 Hamburger made by  Made by Erik Terwan
 * 24th of November 2015
 * MIT License * - https://codepen.io/erikterwan/pen/EVzeRP/ */

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: darkcyan;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Hamburger over */